@import './theme.scss';

@mixin active-text {
    color: var(--primary-color);
    background: var(--bg-grey-color);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    // background-color: rgb(246 247 249);
    // background: $white-color;
    background: var(--bg-white-color);
  
    .leftSide {
        width: 240px;
        height: 100%;
        // overflow-y: auto;
    
        box-sizing: border-box;
        padding: 10px;
        background-color: var(--bg-white-color);
        display: flex;
        flex-direction: column;

        ul {
            padding-left: 8px;
        }

        & > .leftSideItem {
            flex: 1;
            overflow-y: auto;
        }

        .logo,
        .changeTheme {
            flex-shrink: 0;
        }

        .logo {
            padding: 4px;
            background: var(--bg-grey-color);
            color: var(--text-color);
            font-size: 18px;
            font-weight: 600;
        }

        .leftSideItem {
            // padding: 8px;
            height: auto;
            overflow-y: auto;

            & a {
                color: var(--text-color);
            }

            & > li > a {
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                box-sizing: border-box;
                width: 100% !important;
                margin: 4px 0;
                padding: 6px;
                border-radius: 6px;
                color: var(--text-color);

                &:hover {
                    @include active-text;
                }
            }

            .leftSideItemActive {
                @include active-text;
            }
        }

        .leftSideItemHidden {
            // height: 44px;
            overflow: hidden;
        }
    }
    
    .content {
        padding: 20px;
        flex: 1;
        overflow-y: auto;
        border-left: 1px solid var(--border-color-base);
    }
}


// 滚动条
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
} 
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: $bg-color;
    border: 2px dashed transparent;
    background-clip: padding-box;
}