.wrap {
    & > div {
        margin: 30px auto;
    }

    .rotate,
    .reverseRotate {
        width: 400px;
        height: 400px;
        transform-style: preserve-3d;
        perspective: 500px;
    }

    .rotate {
        line-height: 400px;
        text-align: center;
        background-color: rgba(255, 100, 100, .8);
        font-size: 20px;
        color: #fff;
        box-shadow: 0px 0px 8px 2px rgba(100, 100, 100, .6);
    }

    .rotate {
        --degZ: 360deg;
        --degZMiddle: 180deg;
        --degX: 30deg;
        animation: rotate 5s linear infinite; 
    }

    .reverseRotate {
        --degZ: -360deg;
        --degZMiddle: -180deg;
        --degX: 0;
        animation: rotate 5s linear infinite; 
    }

    @keyframes rotate {
        0% {
            transform: rotateX(0deg) rotateZ(0deg);
        }
        50% {
            transform: rotateX(var(--degX)) rotateZ(var(--degZMiddle));
        }
        100% {
            transform: rotateX(0deg) rotateZ(var(--degZ));
        }
    }


    .reverseRotateWrap1,
    .rotate1,
    .reverseRotate1 {
        width: 400px;
        height: 400px;
    }

    .reverseRotateWrap1 {
        position: relative;
    }

    .reverseRotate1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 3px solid #999;
        overflow: hidden;
    }

    .rotate1 {
        width: 150%;
        height: 150%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .rotate1 {
        --degZ: 360deg;
        animation: rotate1 5s linear infinite; 
    }

    .reverseRotate1 {
        --degZ: -360deg;
        animation: rotate1 5s linear infinite; 
    }

    @keyframes rotate1 {
        0% {
            transform: translate(-50%, -50%) rotateZ(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotateZ(var(--degZ));
        }
    }


    .gridBox, .container {
        width: 400px;
        height: 400px;
        position: relative;
    }
    .container {
        --scale: 1.25;
        --rotation: 360deg;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 4px;
        grid-template-areas:
            "E B B"
            "E A C"
            "D D C";
    }

    .container > div {
        position: relative;
        border: 3px solid #431312;
        border-radius: 5px;
        overflow: hidden;
    }
    
    .A {
        grid-area: A;
    }
    .B {
        grid-area: B;
    }
    .C {
        grid-area: C;
    }
    .D {
        grid-area: D;
    }
    .E {
        grid-area: E;
    }

    .container > div img {
        --scale: 1;
        --rotation: -360deg;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 260%;
        height: 260%;
        object-fit: cover;
        object-position: center;
    }
    
    .container,
    .container > div img {
        animation: 10s scale-up both ease-in-out infinite alternate;
    }
    
    @keyframes scale-up {
        0% {
            transform: translate(-50%, -50%) scale(var(--scale)) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) scale(1) rotate(var(--rotation));	
        }
    }
}